body{
    margin: 0px;
}
.login-page{

}
.login-page form{
    width: 250px;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #484848;
    padding: 10px 23px 20px 11px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
}
.login-page form input[type=text], .login-page form input[type=password], .login-page form input[type=submit]{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
.login-page form input[type=submit]{
    background-color: #ff7700;
    color: white;
    border-radius: 5px;
}
.header{
    background-color: #1000bbde;
}
.logo img{
    padding: 5px 20px;
}
.panel{
    width: 300px;
    background-color: #020738;
    height: 100%;
    float: left;
}
.panel ul{
    list-style: none;
    width: 220px;
}
.panel ul li{
    padding: 8px 0;
    border-bottom-style: dotted;
    color: white;
}
.panel ul li a{
    text-decoration: none;
    color: #1b00ff;
    font-size: 18px;
}
.panel ul li a:hover{
    color: turquoise;
}
.content{
    margin-left: 300px;
    padding: 20px;
}
.content table{
    width: 100%;
    margin-top: 20px;
}
.content table thead tr{
    background-color: #09006bde;
    color: white;
}
.content table tbody tr td{
    padding: 10px;
}
.add{
    background-color: #80412a;
}
.add:hover{
    background-color: #582c1b;
}
.edit{
    background-color: #00b30a;
}
.edit:hover{
    background-color: #008e08;
}
.delete{
    background-color: red;
}
.delete:hover{
    background-color: #bd0000;
}
.btn{
    padding: 5px 20px;
    color: white;
    text-decoration: none;
}
.content form input[type=text], .content form input[type=password],.content form input[type=file], .content form select{
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
}
.content form textarea{
    width: 700px;
    height: 300px;
    margin-top: 20px;
}
.content form label{
    position: absolute;
}
.content form input[type=submit]{
    background-color: #80412a;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    /* margin-left: -61px; */
    cursor: pointer;
}
.content form input[type=submit]:hover{
    background-color: #582c1b;
}