body{
    margin: 0;
    background-image: url(../../assets/images/bg6.jpg);
}
.container{
    width: 1070px;
    margin: 0 auto;
}
header{
    height: 62px;
    /* background-color: sandybrown; */
    padding: 7px 10px;
}
header img{
    width: 230px;
    float: left;

}
header ul{
    list-style: none;
    margin-left: 200px;
    margin-top: 41px;

}
header ul li {
    float: left;
}
header ul li a{
    padding: 10px 20px;
    background-color: aliceblue;
    text-decoration: none;
    font-family: rockwell;
    font-weight: 800;
}
header ul li a:hover{
    background-color: #6a7884;
}

.clear{
    clear: both;
}
.grid{
    width: 225px;
    padding: 10px;
    border: 1px solid #afa9a9;
    border-radius: 5px;
    float: left;
    margin: 5px;
}
.content{
    padding: 20px;
    background-color: #6f6a6f;
    height: 100%;
}
.cover-grid-news{
    height: 210px;
    width: 100%;
}
.judul{
    text-align: center;
}
.judul h5 a{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: arial;
}
.tombol-lihat{
    text-align: center;
}
.tombol-lihat a{
    padding: 3px 70px;
    background-color: #ff7700;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-family: arial;
}
.tombol-lihat a:hover{
    background-color: #ce6023;
}
.image, .col-9, .col-3{
    float: left;
}
.col-9{
    width: 75%;
}
.col-3{
    width: 22%;
}
.sidebar{
    border: 1px solid #9E9E9E;
    padding: 0px 0px 25px 5px;
    border-radius: 5px;
    margin: 3px 0px;
}
.image{
    padding: 5px;
}
.image img{
    width: 100px;
}
.atribute a{
    text-decoration: none;
}
.btn{
    text-decoration: none;
    background-color: #FF9800;
    color: white;
    padding: 5px 20px;
}
.btn:hover{
    background-color: #cc7a02;
}
.cari{
    margin-left: 640px;
    margin-top: -7px;
}
.cari input[type=text]{
    padding: 5px;
}
.cari button{
    padding: 4px;
}